html{

	height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-changetheme:#595151;
    --font-familyaa: 'B612', sans-serif;
    --color-accortutup : #f5f5f5;
    --color-accor : #f5c6a9;
    --color-accortext : #454545;
    --color-accortextbuka : #333333;
}

html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
    --color-changetheme:#b2bed1;
    --font-familyaa: 'Raleway', sans-serif;
    --color-accortutup : #333333;
    --color-accor : #09FBD3;
    --color-accortext : #f8f7fa;
    --color-accortextbuka : #333333;

}

body {
	font-family: var(--font-familyaa);
	background-color: var(--bg);
}

.container{
	/*width : 50em;*/
  	background-color: var(--bg-panel);
  	
    padding: 0.5em;
    border-radius: 2em;
    
    /*grid-template-columns: auto;*/
    grid-template-rows: auto auto;
    grid-template-areas:
        "title switch"
        "content content";
}

.row {
	margin: 1em;

    /*padding: 1em;*/
}

h2{
	font-weight: bold;
	font-size: 3em;
    margin: 0;
    color: var(--color-headings);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 3.75em;
	height: 2em;
	background: grey;
	display: block;
	border-radius: 1.25em;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 0.26em;
	left: 0.2em;
	width: 1.5em;
	height: 1.5em;
	background: #fff;
	border-radius: 2.25em;
	transition: 0.4s;
}

input:checked + label {
	background: #943e3e;
}

input:checked + label:after {
	left: calc(100% - 0.125em);
	transform: translateX(-100%);
}

label:active:after {
	width: 2.25em;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.column{
	display: flex;
	text-align: justify;
	align-items: center;
    justify-items: center;
    vertical-align: middle;
}

.columntoggle{
	display: flex;
	text-align: justify;
	align-items: center;
    justify-items: center;
    vertical-align: middle;
}


.toggler{
	display: flex;
    margin-left: auto;
}

h7{
	color: var(--color-changetheme);
	margin-left:0.5em;
	font-weight: bold;
}

.foto{
	max-width: 25%;
	height: auto;
}

p {
	color: var(--color-text);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

#accordion {
	min-width: 100%;
	padding-bottom : 2em;
}

.accordionheader{
	background: var(--color-accortutup);
	color: var(--color-accortext);
	margin-bottom: 1em;
}

.accordionheader[aria-selected=true]{
	background: var(--color-accor);
	color: var(--color-accortextbuka);
	margin-bottom: 1em;
}
h3{
	margin-bottom : 1em !important;	
}

.icons{
	border-radius: 50%;
	width: 10%;
}